<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.png" type="image/png" />
<title><%= yield :title %></title>
<noscript>
	<style type="text/css">
		#Top, div.Content { display: none }
	</style>
</noscript>
<%= javascript_include_tag :all %> 
<%= stylesheet_link_tag :all%>
<%= yield :head %>

</head>
<body class="<%= yield :body_classes %>">
	<noscript>
    <div class="javascript_disabled_notification">
      <div class="inner">
        <h2>You need to change a setting in your web browser</h2>
        <p>Hypertools requires a browser feature called <strong>JavaScript</strong>. All modern browsers support JavaScript. You probably just need to change a setting in order to turn it on.</p>
        <p>Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.</p>
        <p>If you use ad-blocking software, it may require you to allow JavaScript from this domain</p>
        <p>Once you've enabled JavaScript you can try loading this page again.</p>
        <p>Thank you.</p>
      </div>
    </div>
  </noscript>
  <div id='Top'>
	<%= render_top %>
  </div>
  <div id='Content'>
	<%= yield :layout %>
  </div>
</body>